{
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ]
      }
    }
  },
  "rules": {
    "indent": [
      "error",
      2
    ],
    "quotes": [
      "error",
      "single"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    // Remove this after refactoring parsing of getCapabilities
    "no-underscore-dangle": "off"
  }
}
